services:
  backend:
    build:
      dockerfile: Dockerfile.gpu
      args:
        PYTORCH_VARIANT: gpu
    image: spoton_backend_image:gpu
    # GPU access configuration
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
