services:
  backend:
    build:
      dockerfile: Dockerfile.gpu
      args:
        PYTORCH_VARIANT: gpu
    image: spoton_backend_image:gpu
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
